{% extends "layouts/page.njk" %}

{% block content %}
  {% call appArticle({
    header: {
      title: title,
      description: description
    }
  }) %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{ content }}
    </div>
  </div>
  {% endcall %}
{% endblock %}
